body{
    width: 100%;
    margin: 0;
    padding:0;
    max-width: 100%;
    overflow-x: hidden; 
}

.masonry-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
      
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
  
  .masonry-item {
    display: inline-block;
    width: 100%;
  }
  
  .masonry-item img {
    display:block;
    width: 100%;
  }
  
  /* Just for decoration: */
  .masonry-item span {
    font-family: sans-serif;
    display:block;
    padding:10px;
  }
  
  .masonry-item {
    margin-bottom: 15px;
    border:1px solid #ccc;
    border-radius: 5px;
  }

p{
    margin: 0;
}


a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: teal;
    transition: all .5s;
}

.instagram_id{
    margin-bottom: 20px;
}

.instagram_id_div {
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 0.6;
}

.instagram_id_div:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 1;
}

.header{
    position: absolute;
}

.main_header{
    color:white;
    height: 700px;
    z-index: 10;
    text-align: center;
    padding-top: 250px;
    font-size: 3vw;
    font-family: 'Karla', sans-serif;
}

.name{
    color: #E31B6D;
}

.work{
    margin: auto;
    width: 12vw;
    font-size: 1.5vw;
    margin-top: 10px;
    border : solid 2px;
    padding: 5px 7px 5px 7px;
}

.row{
    width: 95%;
    max-width: 100%;
    margin: auto;
}
.about_me_row {
    width: 80%;
    max-width: 100%;
    align-self: center;
    margin-top: 30px;
}
.col-sm-6{
    margin: auto;
}
.about , .project{
    margin: auto;
    margin-top: 40px;

}

.about_tile, .project_title{
    text-align: center;
    font-size: 3vw;


}

.project_title{
    margin-top: 60px;
}

.about_hr{
    width: 20vw;
    border-top: 5px solid;
}

.project_hr{
    width: 8vw;
    border-top: 5px solid;
}

.skill_hr{
    width: 4vw;
    border-top: 5px solid;
}

.hexagon {
    width: 100px; 
    height: 100px;
    background-color: #64C7CC;
    border-radius: 50%;
    margin: auto;


  }
.skill_name{
    border: 0.5px solid rgb(50, 165, 165);
    background-color: rgb(50, 165, 165);
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #aaaaaa;
    
}

.skills_row_one {
    margin-left: 200px;
    margin-right: 150px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}
.skills_row_two {
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 250px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.skills_row_three{
    margin-top: 20px;
    margin-left: 350px;
    margin-right: 300px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.project_row{
    background-color: #f5f5f5;
    margin-top: 100px;
    padding: 10px 20px 40px 20px;
}

.project_container{
    display: flex;
    flex-direction: row;
}
 
.book {
    width:300px;
    height:300px;
    background:#f5f5f5;
    position:relative;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.info {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    background: #f5f5f5;
    display:none;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.info_inner {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}
.book .image {
    text-align:center;
    position:relative;
}
.book:hover .info{
    display:block;
}
.project_header {
    font-size: 24px;
    font-weight: 500;
}
.project_language {
    font-size: 14px;
    color: #E31B6D;
    letter-spacing: 1px;
}

.learn_more_button{
    margin-top: 30px;
    border: 2px solid #E31B6D;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    letter-spacing: 2px;
}

.learn_more_button:hover{
    margin-top: 30px;
    border: 2px solid #E31B6D;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: #E31B6D;
    color: white;
}

.project_img{
    height: 300px; 
    width: 300px;
    object-fit: fill;
}
.row{
      margin-top: 30px;
      margin-left: 20px;
      text-align: center;
  }

.col{
    margin-top: 20px;
    text-align: center;
}

.fast_head{
    padding-top: 10px;
    font-size: 24px;
}

.fast_dis{
    font-size: 16px
}

.fast_icon, .res_icon, .int_icon, .dynamic_icon{
    margin-top: 23px;
}

.profile_pic{
    margin-top: 5%;
    text-align: center;

}


.dp{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.about_me1{
    margin-top: 10px;
    font-size: 2.5vw;
    color: gray;
}



.bar{
    max-width: 100%;
    height: 28px;
    margin: 0 0 25px 0;
    font-size: 11pt;
}

.bar .tag {
    width: 110px;
}

.bar .tag {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #04C2C9;
    color: #fff;
    height: 100%;
}

.bar .fill {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #00A1A7;
    padding: 0;
    opacity: 1;
}
.resume_button{
    padding-top: 30px;
    font-size: 20px;
    opacity: 0.6;
}

.download_icon {
    margin-top: 10px;
    height: 32px;
    width: 32px;
}
.resume_download{
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 0.6;
}
.resume_download:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 1;
}

.bar {
    color: #666;
    height: 22px;
    position: relative;
    background-color: #eee;
    margin: 0 0 25px 0;
    align-items: flex-end;
    font-size: 7pt;
}

.bar span {
    display: initial;
}

.bar span {
    z-index: 1;
    padding: 0 25px 0 0;
}

.bar span {
    display: none;
}

.bar {
    height: 28px;
    margin: 0 0 22px 0;
    font-size: 11pt;
}

.about_me span{
    color: #009ADA ;
}

#projectlist{
    width: 80%;
}
#project_1{
    background-image: url("../images/distributedworkflow.png");
   /* height: 250px;
    width: 250px;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150%;
    border-radius: 50%;
}

#project1{
    background-image: url("../images/distributedworkflow.png");
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150%;
    text-align: center;
    margin: auto;
    margin-top: 15px;

}


#project1:hover:after {
    content:"\A \A BlueWave \A A Distributed Workflow Engine \A";
    white-space: pre; 
    color: white;
    display: block;
    height: 300px;
    width: 300px;
    opacity: 1;
    padding-top: 16%;
    background: rgba(0,0,0,.7);
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
}

#project2{
    background-image: url("../images/git.png");
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    margin-top: 15px;


}

#project2:hover:after {
    content:"\A \A  GitHub Search \A Search project or User on GitHub \A";
    white-space: pre; 
    color: white;
    display: block;
    height: 250px;
    width: 250px;
    opacity: 1;
    padding-top: 16%;
    background: rgba(0,0,0,.7);
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
    border-radius: 50%;
     margin: auto;

}

#project3{
    background-image: url("../images/ho.png");
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 160%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    margin-left: auto;
     margin-top: 15px;
}

#project3:hover:after {
    content:"\A \A  Note App \A App where you can add task \A and keep track of it \A";
    white-space: pre; 
    color: white;
    display: block;
    height: 250px;
    width: 250px;
    opacity: 1;
    padding-top: 16%;
    background: rgba(0,0,0,.7);
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
    border-radius: 50%;
}


.githublink a{
    margin-top: 40px;
    color: black;
    text-align: center;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;

}


.githublink a:hover{
    color: white;
    background-color: black;
    transition: all .5s;

}


.githublink a .gitwhite {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }


.contact{

    background-color: #252934;
    color: white;
    padding-bottom: 30px;
}

.form_title{
    font-weight: 600;
    color: #04C2C9;
    text-align: center;
    margin-top: 40px;
}

.form{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 255, 189) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

input[type="text"], input[type="email"], textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 0;
    padding: 10px 15px;
    background: #1E242C;
    font-size: 12pt;
    margin-bottom: 3px;
    color: #fff;
}




input#submit{
    margin: 5px 0 0 0;
    font-size: 12pt;
    padding: 5px 15px;
    color: white;
    background: transparent;
    outline: 0;

}

input#submit:hover{
     background: #04C2C9 ;
     transition: all .5s;
}

footer{
    background-color: #1B242F;
    text-align: center;
}


footer .arrowkey{
    position: relative;
    top: -12px;
    background: #E31B6D;
    font-size: 30pt;
    height: 32px;
    width:32px;
    line-height: 40pt;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    transition: background .5s;
}


.social{
    margin-top: 20px;
    padding-bottom: 10px;  
}

.social_icon{
    height: 24px;
    width: 24px;
}
.social_top {
    margin-top: 40px;
}

.icons{
    height: 64px;
    width: 64px;
    margin-left: 10px;
}


.footer_note{
    font-size: 12pt;
    color: #8F9AA7;
    margin-top: 35px;
    opacity: 0.6;
    padding-bottom: 55px;
}

.me{
    width: 500px;
    margin: 0 auto;
}

.tech{
    padding-top: 20px;
    width: 500px;
    margin: 0 auto;
}


w-100{
    width: 100%;
    height: 300px;
}

.about {
    text-align: justify;
    font-size: 16px;
    opacity: 0.6;
    margin-top: 20px;
}

.canavs_container{
    z-index: -10;
    height: 700px;
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
}

